<div class="collapse navbar-collapse" id="navbar-menu">
  <ul class="nav navbar-nav ms-auto">
    <% if user_signed_in? %>
      <li class="nav-item dropdown">
        <button class="btn btn-light nav-link dropdown-toggle" href="#" id="navbar-dropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </button>
        <div class="dropdown-menu" aria-labelledby="navbar-dropdown">
          <%= link_to "menu 1", "", class: "dropdown-item" %>
          <%= link_to "menu 2", "", class: "dropdown-item" %>
          <%= link_to "menu 3", "", class: "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item"><%= link_to "Logout #{current_user.email}", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
    <% else %>
      <li class="nav-item"><%= link_to "REGISTER", new_user_registration_path, class: "nav-link"  %></li>
      <li class="nav-item"><%= link_to "LOGIN", new_user_session_path, class: "nav-link"  %></li>    
    <% end %>
  </ul>
</div>


